#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.background {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.background-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.background-box {
  // border: solid 2px #000;
  background-color: #A27E6F;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  text-align: center;
  padding: 20px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.36);
  transition: opacity 2s ease-in-out;
  transition: height 2s ease-in-out;
  transition: width 2s ease-in-out;
}

.background-box-content {
  width: 100%;
}

.background-box-element {
  padding: 20px;
}

.background-ntnu {
  margin-top: -10px;
}

.background-box img {
  height: 50px;
  width: 50px;
}

.lewagon img {
  height: 50px;
  width: auto;
}

h2 {
  font-family: 'Alegreya Sans SC';
}

.background-box h4 {
  font-family: 'Alegreya Sans SC';
  font-size: 22px;
}

.background-box p {
  font-size: 18px;
  margin: 5px 0;
  padding: 0;
  line-height: 100%;
}

.background-description {
  font-style: italic;
  font-size: 16px !important;
}

.box-height {
  height: 600px;
  width: 400px;
  transition: height 2s ease-in-out;
}

.box-height-2 {
  height: 440px;
}

#surf {
  background: url('../../images/surf-crop-resize.jpg');
  background-size: cover;
  background-position: center;
}

#travel {
  background: url('../../images/travel-crop-resize.jpg');
  background-size: cover;
  background-position: center;
}

#music {
  background: url('../../images/music-crop-resize.jpg');
  background-size: cover;
  background-position: center bottom;
}

.background-box-element.hobbies, .project-image {
  height: 150px;
  width: 94%;
  border-radius: 5px;
  margin: 15px auto;
  padding: 0;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.36);
}

.background-text-position {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-box-element:hover, .project-image:hover {
  .background-text-position {
    background:rgba(176,152,138,0.7);
  }
  .background-box-text {
    opacity: 1;
  }
}

.projects.home-next, .contact.home-next {
  background-color: #d4d0c3; /*#d4cebd;*/
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  border-radius: 5%;
  padding: 5px;
}

@media screen and (max-width: 1260px) {
  .background-box {
    width: 350px;
  }
}

@media screen and (max-width: 1120px) {
  .background-box {
    width: 300px;
  }

  .box-height-2 {
    height: 480px;
  }
}

@media screen and (min-width: 992px) {
.background-container {
  display: flex;
  }

}

@media screen and (max-width: 992px) {
  .background-box {
    margin: 5% auto;
  }

  .background-container {
    margin-top: 5%;
  }

  .box-height {
    height: 600px;
  }

  .box-height-2 {
    height: 440px;
  }
}

@media screen and (max-width: 991px) {
  .box-height {
    width: 50%
  }
  }

@media screen and (max-width: 770px) {
  .box-height {
    height: 650px;
 }

 .box-height-2 {
    height: 500px;
 }
}

@media screen and (max-width: 640px) {
  .box-height {
    width: 70%
  }

  .box-height-2 {
    height: 480px;
 }

  .background-container {
    margin-top: 10%;
  }
}

@media screen and (max-width: 515px) {
  .box-height {
    width: 80%
  }

  .background-container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 430px) {
  .box-height {
    width: 90%
  }
  }

  @media screen and (max-width: 360px) {
  .box-height {
    height: 700px;
 }

 .box-height-2 {
    height: 520px;
 }
}
