body {
  background-color: #d4d0c3; /*#d4cebd;*/
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  font-family: 'Alegreya Sans SC';
  font-size: 36px;
  font-style: 100;
  line-height: 36px;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #363636;
}

a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: #363636;
}

h1 {
  font-family: 'Oleo Script';
  font-size: 36px;
  font-style: Bold;
  margin: 0;
  margin-bottom: 20px;
  color: #363636 !important;
}

h2 {
  font-weight: 400;
}

#wrapper{
  height: 100%;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.logo {
  // background-color: #d4d0c3; /*#d4cebd;*/
  // background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  // border-radius: 5%;
  // padding: 5px;
  position: fixed;
  top: 45px;
  left: 45px;
  font-size: 50px;
  z-index: 1000;
}

#home {
  height: 100vh;
  transition: opacity 1.5s ease-in-out;
}

.home-personal {
  position: absolute;
  top: 50px;
  right: 50px;
}

.home-details {
  // margin-left: 15px;

  margin-left: 0;
  display: flex;
  flex-direction: column;
  float: right;
}
.home-work {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.home-next {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #d4d0c3; /*#d4cebd;*/
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  border-radius: 5%;
  padding: 3px 5px;

  p {
    margin: 0;
  }
}

.profile {
  width: 900px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 450px);
  // border-radius: 50%;
}

.home-2 {
  opacity: 0;
}

.opacity-transition {
  transition: opacity 2s ease-in-out;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1 !important;
}

.home-languages {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
}

.home-languages-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.home-languages-container {
  border-radius: 50%;
  position: relative;
}

.code-languages {
  position: absolute;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: -30px;
  transition: transform 3s ease-in-out;
}

.deg360 { transform: rotate(360deg) translate(300px) rotate(-360deg); }
.deg180 { transform: rotate(180deg) translate(300px) rotate(-180deg); }
.deg225 { transform: rotate(225deg) translate(300px) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(300px) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(300px) rotate(-315deg); }

@media screen and (max-width: 1550px) {
  #home img {
    width: 750px;
    left: calc(50% - 375px);
    bottom: 0;
  }
}

@media screen and (max-width: 1390px) {
  #home img {
    width: 650px;
    left: calc(50% - 325px);
    top: 20vh;
  }

  .deg360 { transform: rotate(360deg) translate(300px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(300px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(300px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(300px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(300px) rotate(-315deg); }
}

@media screen and (max-width: 992px) {
  #home img {
    width: 500px;
    left: calc(50% - 250px);
    top: 24vh;
  }

  p {
  font-size: 30px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 0;
  }

  .logo {
    top: calc(2.5%);
    left: calc(5%);
    font-size: 36px;
  }

  .home-personal {
  position: absolute;
  top: 2.5%;
  right: 5%;
  }

  .home-work {
    position: absolute;
    bottom: 2.5%;
    left: 5%;
  }

  .home-next {
    bottom: calc(2.5% - 5px);
    right: calc(5% - 5px);
  }

  .deg360 { transform: rotate(360deg) translate(250px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(250px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(250px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(250px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(250px) rotate(-315deg); }
}

@media screen and (max-width: 640px) {
  #home img {
    width: 450px;
    left: calc(50% - 225px);
    top: 25vh;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  .logo {
    top: calc(2.5%);
    left: calc(5%);
    font-size: 36px;
  }

  .home-personal {
  position: absolute;
  top: 2.5%;
  right: 5%;
  }

  .home-work {
    position: absolute;
    bottom: 2.5%;
    left: 5%;
  }

  .home-next {
    bottom: 2.5%;
    right: 5%;
  }

  .deg360 { transform: rotate(360deg) translate(200px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(200px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(200px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(200px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(200px) rotate(-315deg); }
}

@media screen and (max-width: 515px) {
  #home img {
    width: 400px;
    left: calc(50% - 200px);
    top: 30vh;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }

  .deg360 { transform: rotate(360deg) translate(160px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(160px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(160px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(160px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(160px) rotate(-315deg); }
}

@media screen and (max-width: 430px) {
  #home img {
    width: 350px;
    left: calc(50% - 175px);
    top: 32vh;
  }

  p {
    font-size: 16px;
  }

  .deg360 { transform: rotate(360deg) translate(140px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(140px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(140px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(140px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(140px) rotate(-315deg); }
}

@media screen and (max-width: 375px) {
  #home img {
    width: 310px;
    left: calc(50% - 155px);
    top: 30vh;
  }

  .deg360 { transform: rotate(360deg) translate(120px) rotate(-360deg); }
  .deg180 { transform: rotate(180deg) translate(120px) rotate(-180deg); }
  .deg225 { transform: rotate(225deg) translate(120px) rotate(-225deg); }
  .deg270 { transform: rotate(270deg) translate(120px) rotate(-270deg); }
  .deg315 { transform: rotate(315deg) translate(120px) rotate(-315deg); }
}
