---
title: Magnus S. Remøe - Full stack developer
---

<div id="home">
  <div class="home-logo">
    <h1>MSR</h1>
  </div>
  <div class="home-info">
    <div class="home-personal home-1">
      <div class="home-name">
        <h1>Magnus S. Remøe</h1>
      </div>
      <div class="home-details">
        <p>Norwegian</p>
        <p>32 years old</p>
      </div>
    </div>

    <div class="home-languages home-2">
      <div class="home-languages-wrapper">
        <div class="home-languages-container">
          <div class="code-languages" id="javascript">Javascript</div>
          <div class="code-languages" id="html">HTML</div>
          <div class="code-languages" id="ruby">Ruby</div>
          <div class="code-languages" id="rails">Rails</div>
          <div class="code-languages" id="css">CSS</div>
        </div>
      </div>
    </div>

    <div class="home-1 home-work">
      <p>Full Stack Developer</p> <!-- Link to github? -->
      <p>Materials Engineer</p> <!-- Link to researchgate? -->
    </div>
    <img src="images/profile.png" alt="" class="profile">
    <div class="home-next home-1">
      <a href=""><p>What do I do?</p></a>
    </div>
    <div class="home-next home-2 hidden">
      <p>Background</p>
    </div>
  </div>
</div>
